body {
    height: 100vh;
}

#main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

#main-content {
    display: flex;
    align-items: center;
}

#toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
}

#editing-tools {
    display: flex;
    flex-direction: column;
}
#clear-btn {
    width: 100px;
    height: 40px;
}

#black-btn, #rainbow-btn {
    width: 80px;
    height: 30px;
}

.selected {
    border: 3px solid lightgray;
}

#grid-size-changer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: inline;
}

#grid-container {
    height: 700px;
    width: 700px;
    display: grid;
    border: thick solid black;
  
}
.grid-square {
    border: thin solid lightgray;
}

.black {
    background-color: black;

}

