* {
    font-family: 'A Year Without Rain';
}

strong {
    font-weight: bold;

}

body {
    height: 100vh;
}

button:hover {box-shadow: rgb(209 206 9) 0px 6px 20px 4px, rgb(209 206 9) 0px -6px 20px 4px;}

#background {
    position: fixed;
    height: inherit;
    width: 100vw;
    z-index: -1;
    opacity: 0.5;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin-left: -10%;
}


#toolbar-container {
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    margin-top: 4%;
    transform: translateX(-40px);
    background-color: pink;
}

#editing-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: space-evenly;
}

#clear-btn, #eraser-btn {
    width: 150px;
    height: 60px;
}

#clear-btn {
    font-size: 30px;
}

#eraser-btn {
    font-size: 20px;
}

#color-options {
    display: flex;
    justify-content: space-evenly;
    width: 160px;
    height: 35%;
}

#col-1, #col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

#grid-size-changer {
    height: 15%;
}

#grid-size-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

#grid-size-slider {
    width: 160px;
}

#black-btn, #blue-btn, #green-btn, #magenta-btn, #rainbow-btn, #red-btn, #yellow-btn, #cyan-btn {
    width: 75px;
    height: 30px;
    border: none;
}

#black-btn, #rainbow-btn {
    color: white;
}

#black-btn {background-color: black}
#blue-btn {background-color: blue}
#green-btn {background-color: green}
#magenta-btn {background-color: magenta}
#rainbow-btn {background: linear-gradient(to top left, red, orange, rgb(190, 190, 0), green, blue, indigo, violet)}
#red-btn {background-color: red}
#yellow-btn {background-color: yellow}
#cyan-btn {background-color: cyan}

.selected {
    border: 3.5px solid lightgray !important;
}

#grid-size-changer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: inline;
}

#title-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grid-container {
    height: 600px;
    width: 600px;
    display: grid;
    border: thick solid black;
    background-color: whitesmoke;
    margin-top: 20px;
  
}
.grid-square {
    border: thin solid lightgray;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.magenta {
    background-color: magenta;
}

.cyan {
    background-color: cyan;
}
