* {
    font-family: 'A Year Without Rain';
}

body {
    height: 100vh;
}

#background {
    position: fixed;
    height: inherit;
    width: 100vw;
    z-index: -1;
    opacity: 0.5;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin-left: -10%;
}


#toolbar-container {
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    margin-top: 4%;
    transform: translateX(-40px);
}

#editing-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clear-btn {
    width: 100px;
    height: 40px;
    font-family: 'A Year Without Rain';
}

#color-options {
    display: flex;
}

#col-1, #col-2 {
    display: flex;
    flex-direction: column;
}

#eraser-btn, #black-btn, #blue-btn, #green-btn, #magenta-btn, #rainbow-btn, #red-btn, #yellow-btn, #cyan-btn {
    width: 80px;
    height: 30px;
}

.selected {
    border: 3px solid lightgray;
}

#grid-size-changer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: inline;
}

#title-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grid-container {
    height: 600px;
    width: 600px;
    display: grid;
    border: thick solid black;
    background-color: whitesmoke;
    margin-top: 20px;
  
}
.grid-square {
    border: thin solid lightgray;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.magenta {
    background-color: magenta;
}

.cyan {
    background-color: cyan;
}



